@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.menu {
    visibility: hidden;
    height: 0;
}

header {
    background: url(./img/bg-slider-06.jpg) center/cover;
    height: auto;
}



.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 25px;
}

.navbar h2 {
    color: white;
    font-family: 'Allura';
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar i {
    color: white;
}

.bienvenue {
    text-align: center;
    padding-top: 100px;
}

.bienvenue h2 {
    font-size: 2rem;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Poppins';
}

.porange {
    font-family: 'Allura';
    color: #a67245;
    font-size: 2.5rem;
    letter-spacing: 0px;
    text-transform: none;
}

.bienvenue img {
    height: 25px;
    width: 25px;
    padding-top: 25px;
}

.bienvenue p {
    font-family: 'Robotto';
    font-weight: thin;
    color : #eeeeee;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 300px;
    padding-top: 25px;
}

.deuxieme {
    text-align: center;
     border: 2px dashed #e0d7ba;
}

.deuxieme h2 {
    font-weight: bold;
}

.deuxieme img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.deuxieme p {
    padding-bottom: 20px;
}

.deuxieme img {
    border-radius: 150px;
    height: 25px;
    width: 25px;
}

.deuxieme h2 {
    font-size: 1.3rem;
}

.deuxieme h3 {
    font-size: 1rem;
    color: #bfbcc1;
    text-transform: uppercase;
    opacity: 0.7;
    padding-bottom: 20px;
}

.troisieme {
    text-align: center;
    background: url(./img/bg-menu-01.jpg) center/cover;
}

.troisieme ul {
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    transform: translateX(15%);
    color: white;
}

.troisieme h2 {
    padding-top: 20px;
    text-transform: uppercase;
}

.troisieme img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gridmenu {
    max-width: 80%;
    margin: 0 auto;
    background-color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ;
}

/* faire 3 colonnes et 8 lignes  */