@font-face {
  font-family: "fontrobo";
  src: url(../assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "fontallure";
  src: url(../assets/font/Allura-Regular.ttf);
}

@font-face {
  font-family: "fontpoppins";
  src: url(../assets/font/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background: #21201e;
}

header {
  background: url(./../assets/img/bg-slider-06.jpg) center/cover;
  height: 100vh;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  color: white;
  padding-top: 10px;
}

.first h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  font-family: 'fontallure', sans-serif;
  margin-top: -20px;
}

.first .topnav {
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  text-transform: uppercase;
}

.first .topnav h3 {
  font-family: 'fontrobo', sans-serif;
  font-weight: 100;
}

.first .topimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15%;
}

.first .topimg img {
  width: 15px;
  height: 15px;
}

.topmid {
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topmid .bienvenue {
  padding-top: 100px;
}

.topmid .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  font-size: 2rem;
  text-transform: none;
}

.topmid h2 {
  font-size: 3rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: 'fontpoppins';
}

.topmid img {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}

.topmid p {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.deuxieme {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background: white;
}

.deuxieme .image {
  background: url(./../assets/img/store-01.jpg) center/cover;
  height: 100vh;
}

.deuxieme .secdeux {
  width: 90%;
  margin: 0 auto;
  border: gold 1px dashed;
}

.deuxieme .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  text-transform: none;
  font-size: 2rem;
}

.deuxieme h2 {
  text-transform: uppercase;
  font-family: 'fontpoppins';
  padding-bottom: 30px;
}

.deuxieme .plat {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}

.deuxieme p {
  padding: 0 20px 0;
}

.deuxieme img {
  height: 100px;
  width: 100px;
  border-radius: 500px;
  margin-bottom: 20px;
}

.deuxieme h4 {
  font-size: 1.2rem;
}

.deuxieme h5 {
  color: lightgrey;
  padding-bottom: 20px;
}

.troisieme:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 520px;
  background: url(./../assets/img/bg-menu-01.jpg) center/cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 1980px;
}

.troisieme h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.troisieme .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.troisieme ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  -webkit-text-decoration: underline #A1A1A1;
          text-decoration: underline #A1A1A1;
  margin-bottom: 30px;
  color: white;
}

.troisieme .gridmenu {
  position: relative;
  background: #fbfaf6;
  color: #222;
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
  border-top: 4px solid #af7746;
  padding: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.troisieme .gridcell {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 60% 15%;
      grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.18);
  padding: 30px 0;
  margin: 0 20px;
}

.troisieme .gridcell img {
  border-radius: 150px;
  height: 80px;
  width: 80px;
}

.troisieme .gridcell .gridtext {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

.troisieme .gridcell .gridprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quatrieme {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  background: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 400px;
}

.quatrieme .bgcolor {
  background: #000;
}

.quatrieme .contour {
  border: 1px dashed white;
}

.quatrieme .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  margin-top: 30px;
  font-size: 3rem;
}

.quatrieme .orange {
  color: #a67245;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "fontrobo";
}

.quatrieme h3 {
  color: white;
  text-transform: uppercase;
  font-family: "fontpoppins";
  letter-spacing: 2px;
  font-size: 1.5rem;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.quatrieme img {
  width: 35px;
  height: 35px;
}

.quatrieme p {
  color: white;
}

.quatrieme h4 {
  color: black;
  text-transform: uppercase;
  font-family: "fontpoppins";
  letter-spacing: 2px;
  font-size: 1.5rem;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.quatrieme img {
  height: 25px;
  width: 25px;
}

.quatrieme .secondtitle {
  padding-bottom: 30px;
}

.quatrieme .firsthalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  gap: 15px;
  padding-bottom: 20px;
}

.quatrieme .firsthalf select {
  width: 33%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #555151;
}

.quatrieme .firsthalf input {
  width: 33%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #555151;
}

.quatrieme .secondhalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  gap: 15px;
  padding-bottom: 40px;
}

.quatrieme .secondhalf select {
  width: 33%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #555151;
}

.quatrieme .secondhalf input {
  width: 33%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #555151;
}

.quatrieme button {
  border-radius: 150px;
  font-size: 0.8rem;
  font-family: "fontpoppins";
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  background: black;
  border: none;
}

.cinquieme .entete {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cinquieme .entete .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  margin-top: 30px;
  font-size: 2rem;
}

.cinquieme .entete h4 {
  color: white;
  text-transform: uppercase;
  font-family: "fontpoppins";
  letter-spacing: 2px;
  font-size: 1.5rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.cinquieme .entete img {
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cinquieme .gridevent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58% 1fr;
      grid-template-columns: 58% 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "event1 event3" "event2 event3";
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.cinquieme .gridevent .eventgauchehaut {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: event1;
}

.cinquieme .gridevent .eventgauchebas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: event2;
}

.cinquieme .gridevent .eventdroite {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: event3;
}

.cinquieme .gridevent .eventgauchehaut {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.cinquieme .gridevent .eventgauchehaut .gridimg {
  background: url(./../assets/img/event-01.jpg) center/cover;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cinquieme .gridevent .eventgauchehaut .gridimg .date {
  background: #333;
  height: 75px;
  width: 75px;
  margin: 0 auto;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 22px;
}

.cinquieme .gridevent .eventgauchehaut .gridimg .date h6 {
  font-size: 1.5rem;
}

.cinquieme .gridevent .eventgauchehaut .gridimg .date span {
  font-family: "fontrobo";
}

.cinquieme .gridevent .eventgauchehaut .gridtext {
  background: white;
  padding-top: 30px;
  padding-bottom: 40px;
}

.cinquieme .gridevent .eventgauchehaut .gridtext h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'fontpoppins';
  font-weight: 600;
  font-size: 1rem;
}

.cinquieme .gridevent .eventgauchehaut .gridtext .pimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-left: 25px;
}

.cinquieme .gridevent .eventgauchehaut .gridtext .pimage i {
  margin-right: 3px;
  font-size: 0.5rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  padding-right: 3px;
}

.cinquieme .gridevent .eventgauchehaut .gridtext .pimage p {
  font-family: "fontrobo";
  font-size: 0.7rem;
  color: grey;
  padding-bottom: 20px;
}

.cinquieme .gridevent .eventgauchehaut .gridtext a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  font-family: "fontrobo";
  font-size: 0.8rem;
}

.cinquieme .eventgauchebas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.cinquieme .eventgauchebas .gridimg {
  background: url(./../assets/img/event-02.jpg) center/cover;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cinquieme .eventgauchebas .gridimg .date {
  background: #333;
  height: 75px;
  width: 75px;
  margin: 0 auto;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 22px;
}

.cinquieme .eventgauchebas .gridimg .date h6 {
  font-size: 1.5rem;
}

.cinquieme .eventgauchebas .gridimg .date span {
  font-family: "fontrobo";
}

.cinquieme .eventgauchebas .gridtext {
  background: white;
  padding-top: 30px;
  padding-bottom: 40px;
}

.cinquieme .eventgauchebas .gridtext h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'fontpoppins';
  font-weight: 600;
  font-size: 1rem;
  padding-left: 30px;
}

.cinquieme .eventgauchebas .gridtext .pimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-left: 25px;
}

.cinquieme .eventgauchebas .gridtext .pimage i {
  margin-right: 3px;
  font-size: 0.5rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  padding-right: 3px;
}

.cinquieme .eventgauchebas .gridtext .pimage p {
  font-family: "fontrobo";
  font-size: 0.7rem;
  color: grey;
  padding-bottom: 20px;
}

.cinquieme .eventgauchebas .gridtext a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  font-family: "fontrobo";
  font-size: 0.8rem;
}

.cinquieme .eventdroite {
  background: url(./../assets/img/event-03.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cinquieme .eventdroite .bgcolor {
  background: white;
  width: 80%;
  margin: 0 auto;
}

.cinquieme .eventdroite .date {
  background: #333;
  height: 75px;
  width: 75px;
  margin: 0 auto;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 22px;
}

.cinquieme .eventdroite .date h6 {
  font-size: 1.5rem;
}

.cinquieme .eventdroite .date span {
  font-family: "fontrobo";
}

.cinquieme .eventdroite h3 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "fontpoppins";
  margin-bottom: 15px;
}

.cinquieme .eventdroite .pimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 35px;
  padding-bottom: 50px;
}

.cinquieme .eventdroite .pimage i {
  margin-right: 3px;
  font-size: 0.5rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  padding-right: 3px;
}

.cinquieme .eventdroite .pimage p {
  font-family: "fontrobo";
  font-size: 0.7rem;
  color: grey;
  padding-bottom: 20px;
}

.cinquieme .eventdroite a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "fontrobo";
  font-size: 0.8rem;
  padding-bottom: 50px;
}

.sixieme {
  width: 80%;
  margin: 0 auto;
}

.sixieme:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  background: url(./../assets/img/gmap.jpg) center/cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 3700px;
  z-index: -1;
}

.sixieme .prefoot {
  background: white;
  margin-top: 100px;
  padding: 50px;
  z-index: 2;
}

.sixieme .prefoot:before {
  content: "";
  position: absolute;
  background: url(./../assets/img/avatar-02.jpg) center/cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 3450px;
  border-radius: 150px;
  width: 45px;
  height: 45px;
  z-index: 10000;
}

.sixieme .prefoot p {
  font-family: "fontrobo";
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 20px;
}

.sixieme .prefoot h2 {
  text-align: center;
  font-family: "fontrobo";
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.sixieme .prefoot h3 {
  text-align: center;
  font-weight: normal;
  font-family: "fontrobo";
  color: #a67245;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */