@font-face {
  font-family: "fontrobo";
  src: url(../assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "fontallure";
  src: url(../assets/font/Allura-Regular.ttf);
}

@font-face {
  font-family: "fontpoppins";
  src: url(../assets/font/Poppins-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

header {
  background: url(./../assets/img/bg-slider-06.jpg) center/cover;
  height: 100vh;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  color: white;
  padding-top: 10px;
}

.first h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  font-family: 'fontallure', sans-serif;
  margin-top: -20px;
}

.first .topnav {
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
  text-transform: uppercase;
}

.first .topnav h3 {
  font-family: 'fontrobo', sans-serif;
  font-weight: 100;
}

.first .topimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 15%;
}

.first .topimg img {
  width: 15px;
  height: 15px;
}

.topmid {
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topmid .bienvenue {
  padding-top: 100px;
}

.topmid .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  font-size: 2rem;
  text-transform: none;
}

.topmid h2 {
  font-size: 3rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: 'fontpoppins';
}

.topmid img {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}

.topmid p {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.deuxieme {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.deuxieme .image {
  background: url(./../assets/img/store-01.jpg) center/cover;
  height: 90vh;
}

.deuxieme .secdeux {
  width: 90%;
  margin: 0 auto;
  border: gold 1px dashed;
}

.deuxieme .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  text-transform: none;
  font-size: 2rem;
}

.deuxieme h2 {
  text-transform: uppercase;
  font-family: 'fontpoppins';
  padding-bottom: 30px;
}

.deuxieme .plat {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}

.deuxieme p {
  padding: 0 20px 0;
}

.deuxieme img {
  height: 100px;
  width: 100px;
  border-radius: 500px;
  margin-bottom: 20px;
}

.deuxieme h4 {
  font-size: 1.2rem;
}

.deuxieme h5 {
  color: lightgrey;
  padding-bottom: 20px;
}

.troisieme h2 {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.troisieme .porange {
  color: #a67245;
  font-family: 'fontallure';
  font-weight: normal;
  margin-top: 30px;
}

.troisieme .plat {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.troisieme ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */