.troisieme {
   
    h2 {
        text-align: center;
        align-items: center;
    }

    .porange {
    color: #a67245;
        font-family: 'fontallure';
        font-weight: normal;
        margin-top: 30px;
    }

    .plat {
        align-items: center;
        text-align: center;

    }

    ul {
        display: flex;
        justify-content: space-around;
    }
}
